{% extends "home/base.html" %}
{% block title %} Index {% endblock %} 
    {% block content %}
    <section class="home-hero">
        <div class="container">
            <!-- <div class="row "> -->
                <div class="d-flex align-items-center justify-content-center px-4 ">
                    <div class="py-5 text-center max-w-screen-md">
                        <h1 class="my-4">
                            Find a Service that suits you
                        </h1>
                        <h5 class="my-2 pb-3 hero_desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perspiciatis nisi placeat recusandae iste. Ullam numquam quas aperiam illo culpa?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perspiciatis nisi placeat recusandae iste. Ullam numquam quas aperiam illo culpa?

                        </h5>
                        <div class="my-4">

                            <a href="" class="btn-2 ">Get Started <i class="fa fa-long-arrow-alt-right"></i></a>
                            <a href="" class="btn-2 ">Get Started <i class="fa fa-long-arrow-alt-right"></i></a>
                        </div>

                        
                    </div>
                    
                </div>
                <!-- <div class="col-lg-6">

                </div> -->

            <!-- </div> -->
        </div>
    </section>

    <section class="home-section2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 card">
                    <div class=" text-center">
                        <div>
                            <span><i class="fa fa-heart"></i></span>
                        </div>
                        <h3>yooooo</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos eos facilis quo porro harum error.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 card featured-bx">
                    <div class=" text-center">
                        <div>
                            <span><i class="fa fa-heart"></i></span>
                        </div>
                        <h3>yooooo</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos eos facilis quo porro harum error.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 card">
                    <div class=" text-center">
                        <div>
                            <span><i class="fa fa-heart"></i></span>
                        </div>
                        <h3>yooooo</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos eos facilis quo porro harum error.</p>
                    </div>
                </div>
            </div>

        </div>
        
    </section>

    <section id="program" class="css-jw7v22">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                
                    <div class="section__top">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>We’ll go in-depth on the following topics</p>
                        <a href="#curriculum">
                            See Our Services
                            <svg class="svg_arrow" width="34" height="18" viewBox="0 0 34 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22 1C22 1 26 8.2 33 9C26 9.8 22 17 22 17" stroke="#5C48D7" stroke-width="2"></path>
                                <path d="M30 9L0 9" stroke="#5C48D7" stroke-width="2"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7">

                
                <div class="section__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section__content__left">
                                <ul>
                                    <li>Understand what separates <strong>good PMs from great PMs</strong></li>
                                    <li>Strengthen your <strong>written and verbal communication</strong></li>
                                    <li>Leverage <strong>user research, metrics, and stakeholders </strong>to prioritize effectively</li>
                                    <li><strong>Collaborate</strong> and <strong>influence</strong> your peers more effectively</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section__content__right">
                                <ul>
                                    <li>Gain <strong>confidence</strong> as a PM and define a clear <strong>plan to accelerate</strong> your career</li>
                                    <li>Leverage the <strong>Minto Pyramid</strong> to deliver structured recommendations</li>
                                    <li>Master the <strong>art of shipping on time</strong> while keeping your team happy</li>
                                    <li>Level up your <strong>strategic thinking and vision</strong></li>
                                </ul>
                            </div>
                        </div>
                    
                        
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="home-section3" style="background-color: #000000; color: white;">
        <div class="container relative">
            <div class="mb-4 pb-4">
                <div class="d-flex align-items-center justify-content-center">

                    <div>

                        <h3>Our Customers Experiences</h3>
                    </div>


                    <!-- <a href="" class="d-flex align-items-center btn-2 ">See More</a> -->
                </div>
            </div>

            <div class="testimonial owl-carousel owl-theme px-1  ">
                <div class="item px-4">
   
                            <div class="card p-4">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt, beatae molestiae possimus voluptas quibusdam!</p>
        
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="dot"></div>
                                    <span>Actress</span>
                                </div>
        
                            </div>
                            
                </div>


                <div class="item px-4">
                            <div class="card p-4">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt, beatae molestiae possimus voluptas quibusdam!</p>
        
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="dot"></div>
                                    <span>Actress</span>
                                </div>
        
                            </div>
                            
                        
                    
                </div>

                <div class="item px-4">
                    
                            <div class="card p-4">
                                <h3>Lorem Ipsum</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt, beatae molestiae possimus voluptas quibusdam!</p>
                                <div class="d-flex align-items-center justify-content-end">
                                    <div class="dot"></div>
                                    <span>Actress</span>
                                </div>
        
                            </div>
                         
                </div>


            </div>
            

        </div>
    </section>



    <section class="home-section3 blog-section " >
        <div class="container relative">
            <div class="mb-3 pb-3">
                <div class="d-flex align-items-center justify-content-center">
                    <h3 class="text-center">Latest From Our Blog</h3>
                </div>
            </div>

            <div class="blog-slider owl-carousel owl-theme px-1 ">
                <div class="item px-2">
   
                    <div class="card px-4 py-2 blog-card shadow-sm ">
                        <div class="py-3 d-flex justify-content-between align-items-center">
                            
                            <div class="lined">
                                <div class="line mr-1"></div>
                                <h5 class="blog-author">praisegod</h5>
                            </div>
                            <span class="blog-date">July 20, 2022</span>

                        </div>
                        <div>
                            <h3 class="blog-title mb-3">
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="text-justify blog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat natus ipsum impedit nostrum. Architecto veritatis voluptatibus earum officiis molestias?</p>
                        </div>
                        <div class="blog-footer">
                            <a href="">Read More</a>
                            <!-- <a href="">Read More</a> -->
                        </div>

                    </div>
                </div>


                <div class="item px-2">
                    <div class="card px-4 py-2 blog-card shadow-sm ">
                        <div class="py-3 d-flex justify-content-between align-items-center">
                            
                            <div class="lined">
                                <div class="line mr-1"></div>
                                <h5 class="blog-author">praisegod</h5>
                            </div>
                            <span class="blog-date">July 20, 2022</span>

                        </div>
                        <div>
                            <h3 class="blog-title mb-3">
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="text-justify blog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat natus ipsum impedit nostrum. Architecto veritatis voluptatibus earum officiis molestias?</p>
                        </div>
                        <div class="blog-footer">
                            <a href="">Read More</a>
                            <!-- <a href="">Read More</a> -->
                        </div>

                    </div>
                    
                </div>

                <div class="item px-2">
                    
                    <div class="card px-4 py-2 blog-card shadow-sm ">
                        <div class="py-3 d-flex justify-content-between align-items-center">
                            
                            <div class="lined">
                                <div class="line mr-1"></div>
                                <h5 class="blog-author">praisegod</h5>
                            </div>
                            <span class="blog-date">July 20, 2022</span>

                        </div>
                        <div>
                            <h3 class="blog-title mb-3">
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="text-justify blog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat natus ipsum impedit nostrum. Architecto veritatis voluptatibus earum officiis molestias?</p>
                        </div>
                        <div class="blog-footer">
                            <a href="">Read More</a>
                            <!-- <a href="">Read More</a> -->
                        </div>

                    </div>
                </div>


            </div>
            

        </div>
    </section>




    


    <div class="cta"></div>

    <section class="home-section4 faq know us more">

    
            <div class="container">
                <div class="mb-3 pb-3">
                    <!-- <div class="lined">
                        <div class="line"></div>
                        <span class="subtitle">FAQ</span>
                    </div> -->
                    <div class="d-flex align-items-center justify-content-center">
    
                        <div>
    
                            <h3 class="text-center">Frequently Asked Questions</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestias totam neque laudantium aliquam! Mollitia?</p>
                        </div>
    
    
                        <!-- <a href="" class="d-flex align-items-center btn-2 ">See More</a> -->
                    </div>
                </div>
    
                
                <div class="row">
                    <div class="col col-12">
                    
                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion accordion-2 z-depth-1-half" id="accordionEx194" role="tablist"
                        aria-multiselectable="true"> 
    
    
    
                            <!-- Accordion card -->
                            <div class="card shadow-sm">
                            
                                <!-- Card header -->
                                <div class="card-header" role="tab" id="heading4">
                                    <a class="collapsed add " data-toggle="collapse" data-parent="#accordionEx194" href="#collapse4" aria-expanded="true"
                                    aria-controls="collapse4">
    
                                        <!-- <div></div> -->
                                        <h3 class="mb-0">
                                        Do you offer loan services<div class=" animated-ico float-right mr-3"><i class="fa fa-angle-down"></i></div>
                                        </h3>
                                    </a>
                                </div>
                            
                                <!-- Card body -->
                                <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx194">
                                    <div class="card-body pt-3">
                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                        wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                        3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                        accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->
    
                                    <!-- Accordion card -->
                            <div class=" card wow fadeInUp border-0 border-primary border-sm">
            
                                <!-- Card header -->
                                <div class="card-header " role="tab" id="heading5">
                                    <a class="collapsed add" data-toggle="collapse" data-parent="#accordionEx194" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <h3 class="mb-0">
                                            What are capital gains on property purchase?<div class=" float-right mr-3"><i class="fa fa-angle-down"></i></div>
                                        </h3>
                                    </a>
                                </div>
                
                                <!-- Card body -->
                                <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx194">
                                    <div class="card-body pt-3">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                            wolf moon officia aute,
                                            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                            accusamus labore sustainable VHS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->
                
                            <!-- Accordion card -->
                            <div class="card border-0 border-primary border-sm">
                
                                <!-- Card header -->
                                <div class="card-header" role="tab" id="heading6">
                                    <a class="collapsed add" data-toggle="collapse" data-parent="#accordionEx194" href="#collapse6" aria-expanded="false"
                                    aria-controls="collapse6">
                                        <h3 class="mb-0">
                                        What kind of properties are listed on your website?<div class=" float-right mr-3"><i class="fa fa-angle-down"></i></div>
                                        </h3>
                                    </a>
                                </div>
                
                                <!-- Card body -->
                                <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx194">
                                    <div class="card-body pt-3">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                        wolf moon officia aute,
                                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                        3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                        accusamus labore sustainable VHS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->
                        
                        </div>
                        <!--/.Accordion wrapper-->
                    
                    </div>
                </div>
            
            </div>
            
    </section>
    {% endblock content %}

