{% extends "users/base.html" %}
{% block page-title %} Services {% endblock %} 
    {% block content %}
    

    <section >
        <div class="">
            <div class="query_dropdown_form">

                <form method="get">
                    <div class="d-flex align-items-center justify-content-between">

                        {{myFilter.form}}
                        <!-- <div class="d-block"> -->

                            <button type="submit">Search</button>
                        <!-- </div> -->
                    </div>
                </form>
                
            </div>
                  <div class="table-wr table-responsive ">
                    <table class="table border-0 " id="service-table-3">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th class="nowrap">Service</th>
                            <th class="nowrap">Rate per 1000</th>
                            <th class="nowrap">Min order</th>
                            <th class="nowrap">Max order</th>
                            <th class="hidden-xs hidden-sm service-description__th">Description</th>
                            <th class="nowrap">Other</th>
                                                                </tr>
                        </thead>
                        <tbody id="service-tbody">
                            {% for categories in categories %}
                                <tr class="services-list-category-title" data-filter-table-category-id="35">
                                    <td colspan="8">
                                    <div class="w-100 ">
                                        <h4 class="style-bg-primary-alpha-20 style-text-primary services-category">
                                                <span class="align-middle">{{ categories.name }}</span>
                                        </h4>
                                    </div>
                                    </td>
                                </tr>

                    
                                {% for services in categories.services.all %}
                                    <tr data-filter-table-category-id="35">
                                        <td data-label="ID" data-filter-table-service-id="149">{{services.id}}</td>
                                        <td data-label="Service" class="table-service nowrap" data-filter-table-service-name="true">{{services.title}}</td>
                                        <td data-label="Rate per 1000">NGN {{services.rate}}</td>
                                        <td data-label="Min order">{{services.min_order}}</td>
                                        <td data-label="Max order">{{services.max_order}}</td>
                                        
                                        <td data-label="" class="services-list__description">
                                            {% if services.description == '' %}
                                                <div></div>
                                            {% elif services.description %}

                                                <button id="{{services.id}}" data-toggle="modal" data-target="#descrip-{{services.id}}">view</button>

                                            {% endif %}
                                        </td>
                                        <td data-label="other">{{services.max_order}}</td>
                                    </tr>

                                    <div class="modal fade" id="descrip-{{services.id}}" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="modalLongTitle">
                                                        {{services.title}}
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="pt-3">
                                                            <p>{{services.description|safe}}</p>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <div class=" border-top border-sm pt-3">
                                                        <button>Buy</button>    
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                
                                        </div>
                                
                                      </div>
                                {% endfor %}
                            {% endfor %}
                                
                                
                        </tbody>
                    </table>    
            </div>
        </div>

    </section>
    
    

    {% endblock content%}